body{
    background-size: cover;
}
.heading{
    font-size:28px;
    width:100%;
    margin:0px;
}
.note{
    font-size:15px;
    color: black;
}
.play_button{
    width:130px;
    font-size: 25px;
}